#app-main {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 2rem;
}

h1 {
  text-align: center;
}

.first-paragraph {
  font-size: 1.3rem;
}

.mono {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mt {
  margin-top: 2rem;
}

.ml {
  margin-left: 2rem;
}